{% extends 'ranking/base.html.twig' %}

{% block rankingTitle %}Players{% endblock %}

{% block rankingContent %}

    <table class="my-3 w-100 table table-sm table-hover table-borderless">
        <tr class='ranking-cols'>
            <td>#</td>
            <td>Nombre</td>
            <td>Nivel</td>
            <td>Experienica</td>
            <td>Clase</td>
            <td>Reino</td>
        </tr>
        <tr class='spacer'></tr>
        {% set i = (players.page|default(1)) * 20 - 20 %}
        {% for player in players %}
            {% set i = i + 1 %}
            <tr>
                <td>{{ i }}</td>
                <td>{{ player.name }}</td>
                <td>{{ player.level }}</td>
                <td>{{ player.exp }}</td>
                <td>{{ player.job }}</td>
                <td>{{ player.account.empire|default("undefined") }}</td>
            </tr>
            <tr class='spacer'></tr>
        {% else %}
            <tr>
                <td colspan="6">No hay datos</td>
            </tr>
            <tr class='spacer'></tr>
        {% endfor %}
    </table>
        
    <div class="w-100">
        {{ knp_pagination_render(players) }}
    </div>
    
{% endblock %}
